# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [57]:
# string.lstrip()
name = "  hJohn Smith"

name = name.lstrip(" " "h")
name

'John Smith'

##### .rstrip()

In [20]:
# string.rstrip()
name = name.rstrip(" " "Smith")
print(name)

John

##### .strip()

In [33]:
# string.strip()
name = "       John Smith      a"

name = name.strip(" " "a")
print(name)

John Smith

##### .title(), .upper(), .lower()

In [51]:
# string.title()
school = 'cOding TEmPLe'

print(school.title())

print(school.upper())

print(school.lower())

school = 'cOding TEmPLe'

if 't' in school.lower():
    print('there is a T in here')

Coding Temple
CODING TEMPLE
coding temple
there is a T in here

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [64]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
new_list = [] # could append onto new list

for value in names:
    new_list.append(value.strip().title())
print(new_list)


#without a list append -- updating the OG list
for i in range(len(names)):
    new_string = names[i].strip().title()
    names[i] = new_string
print(names)

['Connor', 'Max', 'Evan', 'Jordan']
['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [71]:
# min(list)
a_list = [45,67,80,2,43,10,9,8]

min(a_list)

# Works similar to this...
# min1 = a_list[0]
# for num in a_list:
#     if num < min1:
#         min1 = num
# min1

2

##### max()

In [72]:
# max(list)
a_list = [45,67,80,2,43,10,9,8]

max(a_list)
# max1 = a_list[0]
# for num in a_list:
#     if num > max1:
#         max1 = num
# print(max1)

80

##### sum()

In [73]:
# sum(list)
sum(a_list)

# counter in the background... how it works:
# counter = 0
# for num in a_list:
#     counter += num
# print(counter)

264

##### sorted()

In [77]:
# sorted(list)
b_list = [5,6,70,3,2,4,67]

sorted_b = sorted(b_list)
print(sorted_b)
print(b_list)

[2, 3, 4, 5, 6, 67, 70]
[5, 6, 70, 3, 2, 4, 67]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [80]:
# list.sort()
# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

b_list.sort()
print(b_list)

[2, 3, 4, 5, 6, 67, 70]

##### Copying a List

In [83]:
# [:] copies a list, doesn't alter original
c_list = list(b_list)
c_list

d_list = b_list[:]
d_list

[2, 3, 4, 5, 6, 67, 70]

##### 'in' keyword

In [99]:
ct_instructors = ["Nate", "Derek", "Sam", "Brian", "Terrell", "LeBron"]

#membership test
if "Sam" in ct_instructors:
    print("Sam is an instructor")
else:
    print("Sam is not an instructor")
    
    
    
# looking for a person whose name starts with 'B'
# "in" after the "for" keyword, means "look at each item inside of this list"

for teacher in ct_instructors:
    if teacher[0] == 'B':
        print(f"{teacher} name starts with B")
    else:
        print(f'{teacher} does not start with B')

Sam is an instructor
Nate does not start with B
Derek does not start with B
Sam does not start with B
Brian name starts with B
Terrell does not start with B
LeBron does not start with B

##### 'not in' keyword

In [109]:
if 'Zack' not in ct_instructors:
    print("No one named Zack here...")
else:
    print('Zack has worked here for years!')

No one named Zack here...

##### Checking an Empty List

In [120]:
# if l_1: or if l_1 = []
l_1 = []
if l_1 == []:
    print("this is empty")

if l_1:
    print("This is a list with stuff in it")
else:
    print('Maybe not!')

this is empty
Maybe not!

##### Removing Instances with a Loop

In [123]:
# while, remove

names = ['Connor', 'Jeff', 'Brian', 'Nate', 'Evan', 'Jesse', 'Nate', 'Nate']

# DO NOT do this! Will usually cause errors, not always depending on order of items
# for name in names:
#     if name == "Nate":
#         names.remove(name)
# print(names)

# while loop - DO this!
while 'Nate' in names:
    names.remove('Nate')
    print(names)

['Connor', 'Jeff', 'Brian', 'Evan', 'Jesse', 'Nate', 'Nate']
['Connor', 'Jeff', 'Brian', 'Evan', 'Jesse', 'Nate']
['Connor', 'Jeff', 'Brian', 'Evan', 'Jesse']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a function that will remove any duplicates from a given list</b></p>

In [134]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_copy = []
for element in names:
    if element not in new_copy:
        new_copy.append(element)
print(new_copy)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [137]:
# number comprehension

# With a regular for loop
nums = []

for i in range(100):
    nums.append(i)
print(nums)

# List comprehension version
# syntax: [variable, transform, condition]

nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [139]:
squares = []

for x in range(10):
    squares.append(x**2)
print(squares)

# square number comprehension
squares_comp = [x**2 for x in range(10)]
squares_comp

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [144]:
names = ['Connor', 'Jeff', 'Brian', 'Evan', 'Jesse', 'Cody']
#append to empty
first_letter = []
for name in names:
    first_letter.append(name[0])
print(first_letter)

# list of strings comprehension
first_comp = [name[0] for name in names]
first_comp

['C', 'J', 'B', 'E', 'J', 'C']

['C', 'J', 'B', 'E', 'J', 'C']

In [145]:
#appending
c_names = []

for name in names:
    if name[0] == 'C':
        c_names.append(name)

print(c_names)
# Using the 'if' statement... always comes after the for loop
c_comp = [name for name in names if name[0] == 'C']
c_comp

['Connor', 'Cody']

['Connor', 'Cody']

In [150]:
# if you want to use an else...
# Multiple condition syntax:
# result = [variable if condition else other_variable for loop]

c_names_3 = [name if name[0] == 'C' else 'Not a C Name' for name in names]

print(c_names_3)

['Connor', 'Not a C Name', 'Not a C Name', 'Not a C Name', 'Not a C Name', 'Cody']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [195]:
# defining a new tuple
tup_1 = 1,2,3
tup_2 = (4,5,6)

print(type(tup_1))
print(type(tup_2))

# Indexing into a tuple
print(tup_1[0])

# Attempting to change a tuple - you cannot do this! you will always run into an error
# tup_1[0] = 45
# tup_1.remove(4)


# Looping over a tuple -- both ways
print('\nLooping Over a tuple using value:')
for x in tup_1:
    print(x)

print('\nLooping over using index:')
for i in range(len(tup_1)):
    print(tup_1[i])

# Copy by typecasting
list_1 = list(tup_1)
print(list_1)
tup_3 = tuple(list_1)
print(tup_3)

<class 'tuple'>
<class 'tuple'>
1

Looping Over a tuple using value:
1
2
3

Looping over using index:
1
2
3
[1, 2, 3]
(1, 2, 3)

##### sorted()

In [203]:
tup_5 = (10,17,55,90,104,8)

sorted_tup = sorted(tup_5)

print(sorted_tup)

new_tup = tuple(sorted_tup)
new_tup

help(sorted)

[8, 10, 17, 55, 90, 104]
Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

##### Adding values to a Tuple

In [197]:
print(tup_5)
tup_5 = tup_5 + (5,)
tup_5

(10, 17, 55, 90, 104, 8, 5, '5')

(10, 17, 55, 90, 104, 8, 5, '5', 5)

## Functions

##### User-Defined vs. Built-In Functions

In [216]:
# User defined function
# 'def' keyword, functionName, (potential params, potential params,...)

def sayHello():
    return "Hello World!"

# Showing the function call in memory
print(sayHello)

#Showing function invocation
print(sayHello())

hello = sayHello()
print(hello)

<function sayHello at 0x7f95f0642c20>
Hello World!
Hello World!

##### Accepting Parameters

In [227]:
# parameters are names for expected function inputs
# Order matters
# inputs can be any data type or object

def printFullName(first_name, last_name):
    return first_name + " " + last_name

print(printFullName("Nate", "Welter"))
print(printFullName("Welter", "Nate"))

# If you want to go out of order
printFullName(last_name = 'Temple', first_name = 'Coding')

Nate Welter
Welter Nate

'Coding Temple'

##### Default Parameters

In [234]:
# default parameters will default to a predetermined value unless otherwaise overwritten
# default parameters must come at the END after other params

def printAgentName(first_name, last_name = 'Bond'):
    return f'The name is... {first_name} {last_name}'

print(printAgentName('James'))

# Overwriting the default
printAgentName('James','Smith')

# DONT DO THIS
# def wontWork(last_name = 'Bond', first_name):
#     return f'The name is... {first_name} {last_name}'

# wontWork('James')

The name is... James Bond

'The name is... James Smith'

##### Making an Argument Optional

In [254]:
def printFullName(first, last, middle = ""):
    if middle:
        return first +  f' {middle} ' + last
    else:
        return f'{first} {last}'

printFullName('John', 'Smith')

'John Jacob Smith'

##### Keyword Arguments

In [258]:
# last_name='Max', first_name='Smith' in the function call

# see above

# Creating a start, stop, step function

In [264]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)

my_range(20,1,2)

1
3
5
7
9
11
13
15
17
19

##### Returning Values

In [266]:
def addNums(num1,num2):
    return num1 + num2

# returning values from functions allows you to store and utilize data created with that function...
# printing will display data, but not allow you to do anything with it 
new_num = addNums(2,6)

8

##### *args / **kwargs (keyword args)

In [272]:
# stands for arguments, takes ANY amount of optional arguments as parameters
# must be last if multiple params are present

def printArgs(num1, *args, **kwargs):
    print(num1)
    print(args)
    print(kwargs, '\n')
    
    for arg in args:
        print(arg)
    
    for kwarg in kwargs:
        print(kwarg)
    
    
    
printArgs(3, "Nate", "CodingTemple", 45, [1,2,3], city="Chicago", food='hotdog', age=40)

3
('Nate', 'CodingTemple', 45, [1, 2, 3])
{'city': 'Chicago', 'food': 'hotdog', 'age': 40}

Nate
CodingTemple
45
[1, 2, 3]
city
food
age

##### Docstring

In [280]:
def printNames(list_1):
    """
        Function requires a list to be passed as a parameter
        and will print the contents of the list. Expecting a list
        of names(strings) to be passed.
    """
    for name in list_1:
        print(name)

some_list = ['Marcus', 'Kevin', 'Sam', 'Nate']
printNames(some_list)
help(printNames)

Marcus
Kevin
Sam
Nate
Help on function printNames in module __main__:

printNames(list_1)
    Function requires a list to be passed as a parameter
    and will print the contents of the list. Expecting a list
    of names(strings) to be passed.

##### Using a User Function in a Loop

In [282]:
def addOne(num):
    print(num+1)
    
while True:
    response = int(input('What is your number?'))
    print('Here is your number + 1:')
    
    addOne(response)
    
    quit = input('Ready to quit? press q')
    if quit == 'q':
        break

What is your number?15
Here is your number + 1:
16
Ready to quit? press qn
What is your number?12
Here is your number + 1:
13
Ready to quit? press qq

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [289]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

#Taeho's list comprehension
def combineList(list_1, list_2):
    return [list_1[num] + " " + list_2[num] for num in range(len(list_1))]


#Solution using .append()
def firstLast(list_1, list_2):
    full_names = []
    for i in range(len(first_name)):
        full_names.append(f"{first_name[i]} {last_name[i]}")
    return full_names
        
firstLast(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [297]:
number = 3 # Global variable -- available GLOBALLY or anywhere

def myFunction():
    my_num = 17 # Local variable... can only be referenced inside of this function
    print(number)
    return my_num


myFunction()



### for loop vars a technically global -- no reason to use them outside of their looping functionality
for i in range(5):
    print(i)

3
0
1
2
3
4

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [296]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]

4

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]